.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:0.932129;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:0.946000;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:0.715820;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.000000;font-style:normal;font-weight:normal;visibility:visible;}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:59.300000px;}
.fc1{color:rgb(255,255,255);}
.fc0{color:rgb(242,242,234);}
.fs5{font-size:120.000000px;}
.fs4{font-size:122.000000px;}
.fs1{font-size:128.000000px;}
.fs7{font-size:207.960007px;}
.fs8{font-size:238.200012px;}
.fs6{font-size:240.000000px;}
.fs2{font-size:299.359955px;}
.fs3{font-size:320.000000px;}
.fs0{font-size:519.960022px;}
.y0{bottom:0.000000px;}
.y6{bottom:186.911385px;}
.y5{bottom:228.511383px;}
.y3{bottom:237.717896px;}
.y19{bottom:240.964417px;}
.y4{bottom:270.111374px;}
.yb{bottom:285.118683px;}
.y18{bottom:313.754425px;}
.y1e{bottom:315.937500px;}
.yd{bottom:337.174835px;}
.y2{bottom:354.707901px;}
.ya{bottom:359.958679px;}
.y13{bottom:371.842484px;}
.y1d{bottom:375.487488px;}
.y17{bottom:386.544426px;}
.y12{bottom:410.842491px;}
.yc{bottom:417.174828px;}
.y9{bottom:434.798676px;}
.y1c{bottom:435.037491px;}
.y11{bottom:449.842491px;}
.y1{bottom:471.697899px;}
.y10{bottom:488.842489px;}
.y1b{bottom:494.587486px;}
.y8{bottom:509.638672px;}
.y1a{bottom:554.137486px;}
.y16{bottom:561.263794px;}
.y7{bottom:584.478672px;}
.yf{bottom:613.424843px;}
.y15{bottom:621.263794px;}
.y14{bottom:681.263794px;}
.ye{bottom:693.424835px;}
.h5{height:89.640000px;}
.h2{height:95.616000px;}
.h7{height:158.000864px;}
.h8{height:172.601962px;}
.h6{height:173.906250px;}
.h3{height:216.919030px;}
.h4{height:231.875000px;}
.h1{height:376.767907px;}
.h0{height:810.000000px;}
.w0{width:1440.000000px;}
.x0{left:0.000000px;}
.x8{left:81.000000px;}
.x9{left:152.942383px;}
.xa{left:160.148499px;}
.xb{left:170.125000px;}
.xe{left:189.375000px;}
.x7{left:205.948425px;}
.xc{left:214.625000px;}
.xf{left:276.875031px;}
.xd{left:366.437500px;}
.x1{left:391.030457px;}
.x2{left:398.217926px;}
.x4{left:407.986023px;}
.x5{left:435.141327px;}
.x3{left:559.519073px;}
.x6{left:621.939941px;}
.x10{left:639.694092px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:79.066667pt;}
.fs5{font-size:160.000000pt;}
.fs4{font-size:162.666667pt;}
.fs1{font-size:170.666667pt;}
.fs7{font-size:277.280009pt;}
.fs8{font-size:317.600016pt;}
.fs6{font-size:320.000000pt;}
.fs2{font-size:399.146606pt;}
.fs3{font-size:426.666667pt;}
.fs0{font-size:693.280029pt;}
.y0{bottom:0.000000pt;}
.y6{bottom:249.215179pt;}
.y5{bottom:304.681844pt;}
.y3{bottom:316.957194pt;}
.y19{bottom:321.285889pt;}
.y4{bottom:360.148499pt;}
.yb{bottom:380.158244pt;}
.y18{bottom:418.339233pt;}
.y1e{bottom:421.250000pt;}
.yd{bottom:449.566447pt;}
.y2{bottom:472.943868pt;}
.ya{bottom:479.944906pt;}
.y13{bottom:495.789978pt;}
.y1d{bottom:500.649984pt;}
.y17{bottom:515.392568pt;}
.y12{bottom:547.789988pt;}
.yc{bottom:556.233103pt;}
.y9{bottom:579.731567pt;}
.y1c{bottom:580.049988pt;}
.y11{bottom:599.789988pt;}
.y1{bottom:628.930532pt;}
.y10{bottom:651.789986pt;}
.y1b{bottom:659.449982pt;}
.y8{bottom:679.518229pt;}
.y1a{bottom:738.849981pt;}
.y16{bottom:748.351725pt;}
.y7{bottom:779.304896pt;}
.yf{bottom:817.899790pt;}
.y15{bottom:828.351725pt;}
.y14{bottom:908.351725pt;}
.ye{bottom:924.566447pt;}
.h5{height:119.520000pt;}
.h2{height:127.488000pt;}
.h7{height:210.667819pt;}
.h8{height:230.135949pt;}
.h6{height:231.875000pt;}
.h3{height:289.225373pt;}
.h4{height:309.166667pt;}
.h1{height:502.357209pt;}
.h0{height:1080.000000pt;}
.w0{width:1920.000000pt;}
.x0{left:0.000000pt;}
.x8{left:108.000000pt;}
.x9{left:203.923177pt;}
.xa{left:213.531331pt;}
.xb{left:226.833333pt;}
.xe{left:252.500000pt;}
.x7{left:274.597900pt;}
.xc{left:286.166667pt;}
.xf{left:369.166707pt;}
.xd{left:488.583333pt;}
.x1{left:521.373942pt;}
.x2{left:530.957235pt;}
.x4{left:543.981364pt;}
.x5{left:580.188436pt;}
.x3{left:746.025431pt;}
.x6{left:829.253255pt;}
.x10{left:852.925456pt;}
}
